{% extends 'myapp/base.html' %}
<!-- {% load static %} -->
{% block title %} Homepage {% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="text-warning mb-5 mt-5 border-bottom "><h2>Education</h2></div>
    <div class="mt-3">
        <div class="row text-white text-center mb-5">
            <div class="col-sm-4">
                <i class="fas fa-search-dollar fa-2x mb-3" style="color:greenyellow;"></i>
                <h3>Matriculation</h3>
                <P style="font-size:12px;">Government Senior Secondary School Kaffota(H.P.)!</P>
            </div>
            <div class="col-sm-4">
                <i class="fas fa-palette fa-2x mb-3 i-color" style="color:greenyellow;"></i>
                <h3>HIGHER EDUCATION</h3>
                <P style="font-size:12px;">Diploma in computer engineering, govt polytechnic paonta sahib(H.P.)!</P>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-code fa-2x mb-3 i-color" style="color:greenyellow;"></i>
                <h3>WORKING EXPERINCE</h3>
                <P style="font-size:12px;">6 month tarining in  PYHTON with django , Thinknext private limited</P>
            </div>
            <div class="col-sm-4">
                <i class="fab fa-book fa-2x mb-3 i-color" style="color:greenyellow;"></i>
                <h3>PROJECTS</h3>
                <P style="font-size:12px;">Making calculator GUI based using Tkinter, Blog project using django, and Myresume </P>
            </div>
            
        </div>    
    </div>        
</div>
{% endblock content %}